body {
    background-color: rgb(240, 240, 240);
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;

}


.loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 7;
    /* Ensure the loading container is on top */
    color: rgb(70, 70, 70);
    font-family: Helvetica;
    letter-spacing: 1px;
    font-variant: small-caps;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

#LoadingText {
    justify-content: center;
    align-items: center;
    animation: scaleAnimation .4s ease;
}

@keyframes scaleAnimation {
    0% {
        transform: scale(.5);
        /* Initial scale */
    }

    100% {
        transform: scale(1.5);
        /* Final scale */
    }
}

#LoadingSecondary {
    color: rgb(255, 66, 66);
}


/*Notifs*/

.Notif_Sign_Pos {
    top: 200px;
}

#Logout_1 {
    position: fixed;

    left: -355px;
    /*to show 20px*/
    width: 310px;
    height: 60px;
    background-color: rgb(255, 255, 255);
    z-index: 9;
    border-radius: 20px;
    border-top: 1px solid rgb(220, 220, 220);
    border-right: 1px solid rgb(220, 220, 220);
    border-bottom: 1px solid rgb(220, 220, 220);
    border-left: 40px solid rgb(24, 248, 80);
    opacity: .9;
    display: block;
    transition: .3s;
    transform: .3s;
}

#Logout_0 {
    position: fixed;

    left: -355px;
    /*to show 20px*/
    /*to hide -355px*/
    width: 310px;
    height: 60px;
    background-color: rgb(255, 255, 255);
    z-index: 9;
    border-radius: 20px;
    border-top: 1px solid rgb(220, 220, 220);
    border-right: 1px solid rgb(220, 220, 220);
    border-bottom: 1px solid rgb(220, 220, 220);
    border-left: 40px solid rgb(255, 83, 83);
    opacity: .9;
    display: block;
    transition: .3s;
    transform: .3s;
}

#Login_prompt {
    position: fixed;

    left: -355px;
    /*to show 20px*/
    /*to hide -355px*/
    width: 310px;
    height: 60px;
    background-color: rgb(255, 255, 255);
    z-index: 999;
    border-radius: 20px;
    border-top: 1px solid rgb(220, 220, 220);
    border-right: 1px solid rgb(220, 220, 220);
    border-bottom: 1px solid rgb(220, 220, 220);
    border-left: 40px solid rgb(255, 83, 83);
    opacity: .9;
    display: block;
    transition: .3s;
    transform: .3s;
}

#Saved_1 {
    position: fixed;

    left: -355px;
    /*to show 20px*/
    /*to hide -355px*/
    width: 310px;
    height: 60px;
    background-color: rgb(255, 255, 255);
    z-index: 999;
    border-radius: 20px;
    border-top: 1px solid rgb(220, 220, 220);
    border-right: 1px solid rgb(220, 220, 220);
    border-bottom: 1px solid rgb(220, 220, 220);
    border-left: 40px solid rgb(24, 248, 80);
    opacity: .9;
    display: block;
    transition: .3s;
    transform: .3s;
}


#Saved_0 {
    position: fixed;

    left: -355px;
    /*to show 20px*/
    /*to hide -340px*/
    width: 310px;
    height: 60px;
    background-color: rgb(255, 255, 255);
    z-index: 999;
    border-radius: 20px;
    border-top: 1px solid rgb(220, 220, 220);
    border-right: 1px solid rgb(220, 220, 220);
    border-bottom: 1px solid rgb(220, 220, 220);
    border-left: 40px solid rgb(255, 83, 83);
    opacity: .9;
    display: block;
    transition: .3s;
    transform: .3s;
}


#Saved_3 {
    position: fixed;
    left: -355px;
    /*to show 20px*/
    /*to hide -340px*/
    width: 310px;
    height: 60px;
    background-color: rgb(255, 255, 255);
    z-index: 999;
    border-radius: 20px;
    border-top: 1px solid rgb(220, 220, 220);
    border-right: 1px solid rgb(220, 220, 220);
    border-bottom: 1px solid rgb(220, 220, 220);
    border-left: 40px solid rgb(255, 83, 83);
    opacity: .9;
    display: block;
    transition: .3s;
    transform: .3s;
}

#Remove_0 {
    position: fixed;
    left: -355px;
    /*to show 20px*/
    /*to hide -340px*/
    width: 310px;
    height: 60px;
    background-color: rgb(255, 255, 255);
    z-index: 999;
    border-radius: 20px;
    border-top: 1px solid rgb(220, 220, 220);
    border-right: 1px solid rgb(220, 220, 220);
    border-bottom: 1px solid rgb(220, 220, 220);
    border-left: 40px solid rgb(255, 83, 83);
    opacity: .9;
    display: block;
    transition: .3s;
    transform: .3s;
}


#Remove_1 {
    position: fixed;

    left: -355px;
    /*to show 20px*/
    /*to hide -340px*/
    width: 310px;
    height: 60px;
    background-color: rgb(255, 255, 255);
    z-index: 999;
    border-radius: 20px;
    border-top: 1px solid rgb(220, 220, 220);
    border-right: 1px solid rgb(220, 220, 220);
    border-bottom: 1px solid rgb(220, 220, 220);
    border-left: 40px solid rgb(24, 248, 80);
    opacity: .9;
    display: block;
    transition: .3s;
    transform: .3s;
}

.Error_Text {
    color: rgb(70, 70, 70);
    top: 8px;
    font-family: Helvetica;
    font-size: 14px;
    left: 40px;
    position: absolute;
}

.Error_Img {
    transform: scale(.6);
    position: absolute;
    top: 18px;
    left: 10px;
}

.Close_Error_Notif_Watch {
    transform: scale(.6);
    cursor: pointer;
    position: absolute;
    left: 275px;
    top: 17px;
}

.Confirm_Text {
    color: rgb(70, 70, 70);
    top: 8px;
    font-family: Helvetica;
    font-size: 14px;
    left: 40px;
    position: absolute;
}

.Success_Img {
    transform: scale(.6);
    position: absolute;
    top: 18px;
    left: 10px;
}

#TopLogoutItem {
    position: relative;
    color: rgb(255, 66, 66);
    font-size: 12px;
    font-family: Helvetica;
    left: 3%;
    margin-top: 17px;
    display: none;
}


/*Notifs*/

/*Loaders*/

#Logout_Loader {
    position: fixed;
    z-index: 999;
    left: 50%;
    top: 20%;
    margin-top: 250px;
    transform: translate(-50%, -20%);
    display: none;
}

.loader-container {
    text-align: center;
    margin-top: 20px;
}


.dot-loader {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: rgb(255, 66, 66);
    border-radius: 50%;
    animation: bounce 1s ease-in-out infinite;
    margin: 0 2px;
}

.dot-loader:nth-child(2) {
    animation-delay: .1s;
}

.dot-loader:nth-child(3) {
    animation-delay: .2s;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-15px);
    }

    50% {
        transform: translateY(0);
    }

    75% {
        transform: translateY(-15px);
    }
}

/*Loaders*/


/*Top Navigation Bar*/

#NavigationBarTop {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    display: flex;
    flex-direction: row;
    color: white;
    /*color: #8c8c8c;*/
    z-index: 6;
    background-color: rgba(255, 255, 255);
    border-bottom: 2px solid rgb(240, 240, 240);
    transition: top 0.3s ease;
}

.TopNavItem {
    font-family: Helvetica;
    color: rgb(70, 70, 70);
    font-size: 12px;
    cursor: pointer;
    transition: .1s;
}

.TopNavItem:hover {
    text-decoration: underline;
    transform: scale(1.02);
}

#Language {
    margin-left: 0%;
    margin-top: 17px;
}





.TopNavSign {
    font-family: Helvetica;
    color: rgb(255, 66, 66);
    font-size: 12px;
    cursor: pointer;
    transition: .1s;
    text-decoration: underline;
}

.TopNavSign:hover {
    transform: scale(1.05);
}

#TopSignInItem {
    color: rgb(70, 70, 70);
    font-size: 12px;
    font-family: Helvetica;
    margin-left: 3%;
    margin-top: 17px;
}

#HelpContact {
    margin-left: 6%;
    margin-top: 17px;
}

#WatchList2 {

    position: fixed;
    right: 30px;
    height: 28px;
    width: 28px;
    top: 8px;
    opacity: .7;
    transition: .1s;
    transform: .1s;
    cursor: pointer;
}

#Account2 {

    position: fixed;
    right: 90px;
    top: 8px;
    height: 26px;
    width: 26px;
    opacity: .65;
    transition: .1s;
    transform: .1s;
    cursor: pointer;
}

#WatchList2:hover {
    opacity: 1;
    transform: scale(1.03);
}

#Account2:hover {
    opacity: 1;
    transform: scale(1.03);
}

#Account2:active {
    transform: scale(.95);
}

#WatchList2:active {
    transform: scale(.95);
}

.LanguageFlags {
    height: 24px;
    width: 24px;
    transform: scale(1);
}

#CanadaFlag {
    margin-top: 12px;
    margin-left: 55%;
}

#LanguageSwitch {
    position: fixed;
    width: 120px;
    height: 45px;
    background-color: rgb(255, 255, 255);
    z-index: 8;
    border: 2px solid rgb(240, 240, 240);
    margin-left: 72%;
    margin-top: 31px;
    display: none;
}

#FrenchLanguage {
    margin-left: 53px;
    margin-top: 14px;
}

#FrenchFlagImg {
    margin-left: 27px;
    margin-top: -31px;
}

/*Top Navigation Bar*/





/*Main Navigation Bar*/

#NavigationBarMain {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 44px;
    display: flex;
    flex-direction: row;
    color: white;
    /*color: #8c8c8c;*/
    z-index: 6;
    background-color: rgba(255, 255, 255, 1);
    transition: top 0.3s ease;
}

#NavTitle {
    font-family: Helvetica;
    color: rgb(70, 70, 70);
    font-size: 30px;
    font-weight: bold;
    font-variant: small-caps;
    margin-left: 3%;
    letter-spacing: 1px;
    cursor: pointer;
}

#NavTitleSecond {
    color: rgb(255, 66, 66);
}




#SearchBar {
    color: rgb(40, 40, 40);
    margin-top: 25px;
    font-family: Helvetica;
    font-size: 15px;
    width: 50%;
    height: 45px;
    padding: 10px;
    border-radius: 0px 10px 10px 0;
    background-color: rgb(250, 250, 250);
    border-right: 2px solid rgb(170, 170, 170);
    border-top: 2px solid rgb(170, 170, 170);
    border-bottom: 2px solid rgb(170, 170, 170);
    border-left: 0px solid rgb(170, 170, 170);
}

#SearchImageButton {
    margin-top: 25px;
    height: 45px;
    border-radius: 10px 0 0 10px;
    border-right: 0px solid rgb(170, 170, 170);
    border-left: 2px solid rgb(170, 170, 170);
    border-top: 2px solid rgb(170, 170, 170);
    border-bottom: 2px solid rgb(170, 170, 170);
    cursor: pointer;
    margin-left: 5%;
    background-color: rgb(250, 250, 250);
}

#SearchBar:focus {
    outline: none;
}

#SearchIcon {
    transform: scale(.7);
    margin-left: 5px;
}



#NavSearchButton {
    margin-left: 1%;
    background-color: rgb(255, 66, 66);
    height: 45px;
    margin-top: 25px;
    padding-left: 80px;
    padding-right: 80px;
    border: none;
    cursor: pointer;
    font-family: Helvetica;
    font-size: 15px;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    border-radius: 10px;
    transition: .1s;

}

#NavSearchButton:active {
    transition: .1s;
    transform: scale(0.97);
}

#NavSearchButton:hover {

    background-color: rgb(255, 48, 48);
}

/*Main Navigation Bar*/

/*Bottom Navigation Bar*/
#NavigationBarBottom {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 140px;
    display: flex;
    flex-direction: row;
    color: white;
    /*color: #8c8c8c;*/
    z-index: 6;
    background-color: rgba(255, 255, 255, 1);
    border-top: 2px solid rgb(240, 240, 240);
    justify-content: space-around;
    transition: top 0.3s ease;
}

.BottomNavItem {
    font-family: Helvetica;
    color: rgb(70, 70, 70);
    font-size: 12px;
    cursor: pointer;
    transition: .1s;
}

.BottomNavItem:hover {
    color: rgb(255, 66, 66);
    text-decoration: underline;
    transform: scale(1.05);
}


/*Bottom Navigation Bar*/




/*View*/


#Item_View_Container {
    position: absolute;
    top: 250px;
    left: 10%;
    overflow: hidden;
    width: 25%;

}

#Item_View_Container_Text {
    position: absolute;
    top: 250px;
    left: 37%;
    width: 80%;
}


.View_Text_Style {
    font-family: Helvetica;
    color: rgb(40, 40, 40);
    font-size: 18px;
    line-height: 18px;
    letter-spacing: .2px;
}

#View_Img {
    width: 100%;
    /*500px*/
    height: 100%;
    /*750px*/
    overflow: hidden;
    transition: transform 0.1s ease;
    position: flex;

}



#View_Issue {
    position: relative;
    top: -20px;
    width: 70%
}

#View_Vendor {
    position: relative;
    top: -20px;
    font-size: 15px;
    color: rgb(70, 70, 70);
}

#Vendor_Name {
    color: rgb(40, 40, 40);
    transform: .1s;
    transition: .1s;
}



#View_Price {
    position: relative;
    top: -10px;
    font-size: 30px;
    font-weight: bold;
}


#View_Description_Text {
    position: relative;
    top: -10px;
    width: 70%;
    font-size: 15px;

}


#View_AddWishList {
    position: relative;
    top: 100px;
    font-family: helvetica;
    border: 2px solid rgb(255, 66, 66);
    width: 146px;
    color: rgb(255, 66, 66);
    text-transform: uppercase;
    font-size: 15px;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(240, 240, 240);
    cursor: pointer;
    transition: .2s;
    border-radius: 2px;
    display: none;

}

#View_AddWishList:hover {
    background-color: rgb(255, 66, 66);
    color: white;
}


#View_AddWishList:active {
    transition: .1s;
    transform: scale(0.97);
}

#View_Remove {
    position: relative;
    top: 100px;
    font-family: helvetica;
    border: 2px solid rgb(255, 66, 66);
    width: 146px;
    color: rgb(255, 66, 66);
    text-transform: uppercase;
    font-size: 15px;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 10px;
    text-align: center;
    padding-bottom: 10px;
    background-color: rgb(240, 240, 240);
    cursor: pointer;
    transition: .2s;
    border-radius: 2px;

}

#View_Remove:hover {
    background-color: rgb(255, 66, 66);
    color: white;
}


#View_Remove:active {
    transition: .1s;
    transform: scale(0.97);
}

#View_Share {
    position: relative;
    color: rgb(70, 70, 70);
    top: 52px;
    left: 280px
}

#ShareImg {
    position: relative;
    top: 7px;
    opacity: .7;
    transition: opacity .1s;
    cursor: pointer;
    transform: .1s;

    left: 340px;
    transform: scale(.7);
}

#ShareImg:hover {
    opacity: .9;
}

#ShareImg:active {
    transform: scale(.65);
}

/*View*/







/*Footer*/

#BottomContainer {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    border-top: 1px solid rgb(180, 180, 180);
    top: 1100px;

}

.FooterContainers {
    margin-top: 12%;
    margin-left: 33%;
}

.FooterHeaders {
    font-family: Helvetica;
    font-size: 17px;
    font-weight: bold;
    color: rgb(90, 90, 90);
}

.FooterItem {
    font-family: Helvetica;
    font-size: 12px;
    color: rgb(90, 90, 90);
    cursor: pointer;
    transition: .1s;
}

.FooterItem:hover {
    text-decoration: underline;
}

#RightsContainer {
    position: relative;
    top: 1200px;

    margin-left: 5%;
    padding-bottom: 5%;
}

#RightsItem {
    font-family: Helvetica;
    font-size: 12px;
    color: rgb(40, 40, 40);
    transition: .1s;
}


/*Footer*/





@media (min-width: 1400px) {

    meta[name="viewport"] {
        content: width=device-width, initial-scale=1;
    }



    #RightsContainer {
        top: 90vw;
    }

    #BottomContainer {
        top: 80vw;
    }

}


@media (max-width: 1050px) {

    meta[name="viewport"] {
        content: width=device-width, initial-scale=1;
    }

    #WatchList_Container {
        position: absolute;
        top: 800px;
        left: 8%;
        border-bottom: 2px solid rgb(220, 220, 220);
        width: 80%;
    }

    #Share_Container {
        position: absolute;
        top: 900px;
        left: 9%;
    }


}


@media (max-width: 670px) {

    meta[name="viewport"] {
        content: width=device-width, initial-scale=1;
    }



    #View_Description_Text {
        position: relative;
        font-size: 13px;
        width: 80%;
    }

    #View_Description {
        position: relative;

        font-size: 15px;
        font-weight: bold;
        width: 80%;
    }


    #View_Issue {
        position: relative;
        top: -20px;
        font-size: 14px;
        width: 80%;
    }

    #View_Vendor {
        position: relative;
        font-size: 15px;
        color: rgb(70, 70, 70);
    }


    #View_Price {
        position: relative;
        font-size: 25px;
        font-weight: bold;
    }

    #View_Share {
        position: relative;
        color: rgb(70, 70, 70);
        top: 0px;
        left: 0px
    }

    #ShareImg {
        position: relative;
        top: -45px;
        opacity: .7;
        transition: opacity .1s;
        cursor: pointer;
        transform: .1s;
        left: 55px;
        transform: scale(.7);
    }


    #View_AddWishList {
        position: relative;
        left: -12px;
        top: 0px;
        font-family: helvetica;
        border: 2px solid rgb(255, 66, 66);
        width: 146px;
        color: rgb(255, 66, 66);
        text-transform: uppercase;
        font-size: 15px;
        padding-left: 45px;
        padding-right: 45px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: rgb(240, 240, 240);
        cursor: pointer;
        transition: .2s;
        border-radius: 2px;
        transform: scale(.9);
    }

    #Item_View_Container_Text {
        position: relative;
        top: 300px;
        left: 10%;
        width: 90%;

    }

    #BottomContainer {
        top: 700px;

    }

    #Item_View_Container {
        position: relative;
        top: 250px;
        left: 50%;
        transform: translate(-50%, 0%);
        overflow: hidden;
        width: 250px;
        height: 365px;

    }



}

@media (max-width: 500px) {

    meta[name="viewport"] {
        content: width=device-width, initial-scale=1;
    }


    #View_Description_Text {
        position: relative;

        font-size: 12px;
    }

    #View_Description {
        position: relative;
        font-size: 15px;
        font-weight: bold;
    }
}

@media (max-width: 1100px) {



    #HelpContact {
        white-space: nowrap;
    }

    #TopSignInItem {
        white-space: nowrap;
    }

    #NavTitle {
        white-space: nowrap;
    }

    #SearchBar {
        color: rgb(40, 40, 40);
        margin-top: 25px;
        font-family: Helvetica;
        font-size: 15px;
        width: 40%;
        height: 45px;
        padding: 10px;
    }

    #SearchImageButton {
        margin-top: 25px;
        height: 45px;
        margin-left: 10%;

    }


    #NavSearchButton {
        margin-left: 1%;
        background-color: rgb(255, 66, 66);
        height: 45px;
        margin-top: 25px;
        padding-left: 60px;
        padding-right: 60px;
        border: none;
        cursor: pointer;
        font-family: Helvetica;
        font-size: 15px;
        color: rgb(255, 255, 255);
        letter-spacing: 1px;
        border-radius: 10px;
        transition: .1s;

    }
}

@media (max-width: 900px) {


    #NavigationBarMain {
        padding-bottom: 20px;

    }

    #NavTitle {
        font-size: 22px;
        margin-top: 35px;
    }

    #Bottom4 {
        display: none;
    }

    #Bottom5 {
        display: none;
    }

    #Bottom6 {
        display: none;
    }

    #NavSearchButton {
        margin-left: 1%;
        background-color: rgb(255, 66, 66);
        height: 40px;
        margin-top: 30px;
        padding-left: 15px;
        padding-right: 15px;
        border: none;
        cursor: pointer;
        font-family: Helvetica;
        font-size: 13px;
        color: rgb(255, 255, 255);
        letter-spacing: 1px;
        border-radius: 10px;
        transition: .1s;

    }

    #SearchImageButton {
        margin-top: 30px;
        height: 40px;
        margin-left: 8%;

    }

    #SearchBar {
        color: rgb(40, 40, 40);
        margin-top: 30px;
        font-family: Helvetica;
        font-size: 15px;
        width: 40%;
        height: 40px;
        padding: 10px;
    }


}

@media (max-width: 650px) {


    #NavSearchButton {
        display: none;

    }

    #SearchImageButton {
        margin-top: 30px;
        height: 40px;
        margin-left: 3%;

    }

    #SearchBar {
        color: rgb(40, 40, 40);
        margin-top: 30px;
        font-family: Helvetica;
        font-size: 15px;
        width: 45%;
        height: 40px;
        padding: 10px;
    }
}