body {
    background-color: rgb(240, 240, 240);
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;

}


.loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 7;
    /* Ensure the loading container is on top */
    color: rgb(70, 70, 70);
    font-family: Helvetica;
    letter-spacing: 1px;
    font-variant: small-caps;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

#LoadingText {
    justify-content: center;
    align-items: center;
    animation: scaleAnimation .4s ease;
}

@keyframes scaleAnimation {
    0% {
        transform: scale(.5);
        /* Initial scale */
    }

    100% {
        transform: scale(1.5);
        /* Final scale */
    }
}

#LoadingSecondary {
    color: rgb(255, 66, 66);
}


/*Notifs*/

.Notif_Sign_Pos {
    top: 200px;
}

#Logout_1 {
    position: fixed;

    left: -355px;
    /*to show 20px*/
    width: 310px;
    height: 60px;
    background-color: rgb(255, 255, 255);
    z-index: 9;
    border-radius: 20px;
    border-top: 1px solid rgb(220, 220, 220);
    border-right: 1px solid rgb(220, 220, 220);
    border-bottom: 1px solid rgb(220, 220, 220);
    border-left: 40px solid rgb(24, 248, 80);
    opacity: 1;
    display: block;
    transition: .3s;
    transform: .3s;
}

#Logout_0 {
    position: fixed;

    left: -355px;
    /*to show 20px*/
    /*to hide -340px*/
    width: 310px;
    height: 60px;
    background-color: rgb(255, 255, 255);
    z-index: 9;
    border-radius: 20px;
    border-top: 1px solid rgb(220, 220, 220);
    border-right: 1px solid rgb(220, 220, 220);
    border-bottom: 1px solid rgb(220, 220, 220);
    border-left: 40px solid rgb(255, 83, 83);
    opacity: 1;
    display: block;
    transition: .3s;
    transform: .3s;
}

#Login_prompt {
    position: fixed;

    left: -355px;
    /*to show 20px*/
    /*to hide -340px*/
    width: 310px;
    height: 60px;
    background-color: rgb(255, 255, 255);
    z-index: 999;
    border-radius: 20px;
    border-top: 1px solid rgb(220, 220, 220);
    border-right: 1px solid rgb(220, 220, 220);
    border-bottom: 1px solid rgb(220, 220, 220);
    border-left: 40px solid rgb(255, 83, 83);
    opacity: 1;
    display: block;
    transition: .3s;
    transform: .3s;
}


#Newsletter_unsubbed {
    position: fixed;

    left: -355px;
    /*to show 20px*/
    width: 310px;
    height: 60px;
    background-color: rgb(255, 255, 255);
    z-index: 9;
    border-radius: 20px;
    border-top: 1px solid rgb(220, 220, 220);
    border-right: 1px solid rgb(220, 220, 220);
    border-bottom: 1px solid rgb(220, 220, 220);
    border-left: 40px solid rgb(24, 248, 80);
    opacity: 1;
    display: block;
    transition: .3s;
    transform: .3s;
}


#Newsletter_subbed {
    position: fixed;

    left: -355px;
    /*to show 20px*/
    width: 310px;
    height: 60px;
    background-color: rgb(255, 255, 255);
    z-index: 9;
    border-radius: 20px;
    border-top: 1px solid rgb(220, 220, 220);
    border-right: 1px solid rgb(220, 220, 220);
    border-bottom: 1px solid rgb(220, 220, 220);
    border-left: 40px solid rgb(24, 248, 80);
    opacity: 1;
    display: block;
    transition: .3s;
    transform: .3s;
}

#Delete_Failed {
    position: fixed;

    left: -355px;
    /*to show 20px*/
    /*to hide -340px*/
    width: 310px;
    height: 60px;
    background-color: rgb(255, 255, 255);
    z-index: 999;
    border-radius: 20px;
    border-top: 1px solid rgb(220, 220, 220);
    border-right: 1px solid rgb(220, 220, 220);
    border-bottom: 1px solid rgb(220, 220, 220);
    border-left: 40px solid rgb(255, 83, 83);
    opacity: 1;
    display: block;
    transition: .3s;
    transform: .3s;
}


.Error_Text {
    color: rgb(70, 70, 70);
    top: 8px;
    font-family: Helvetica;
    font-size: 14px;
    left: 40px;
    position: absolute;
}

.Error_Img {
    transform: scale(.6);
    position: absolute;
    top: 18px;
    left: 10px;
}

.Close_Error_Notif_Watch {
    transform: scale(.6);
    cursor: pointer;
    position: absolute;
    left: 275px;
    top: 17px;
}

.Confirm_Text {
    color: rgb(70, 70, 70);
    top: 8px;
    font-family: Helvetica;
    font-size: 14px;
    left: 40px;
    position: absolute;
}

.Success_Img {
    transform: scale(.6);
    position: absolute;
    top: 18px;
    left: 10px;
}

/*Notifs*/


/*Loaders*/


.loading-border {
    position: relative;
    overflow: hidden;
}

.loading-border::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    /* Adjust the height of the loader */
    background: linear-gradient(to right, transparent, rgb(255, 66, 66), transparent);
    /* Adjust the gradient as needed */
    animation: loading 1s linear infinite;
    /* Adjust the animation duration as needed */
}

@keyframes loading {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}


#Logout_Loader {
    position: fixed;
    z-index: 999;
    left: 50%;
    top: 20%;
    margin-top: 250px;
    transform: translate(-50%, -20%);
    display: none;


}

#Delete_Account_Loader {
    position: relative;
    z-index: 999;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);
    display: none;
}

.loader-container {
    text-align: center;
    margin-top: 20px;
}


.dot-loader {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: rgb(255, 66, 66);
    border-radius: 50%;
    animation: bounce 1s ease-in-out infinite;
    margin: 0 2px;
}

.dot-loader:nth-child(2) {
    animation-delay: .1s;
}

.dot-loader:nth-child(3) {
    animation-delay: .2s;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-15px);
    }

    50% {
        transform: translateY(0);
    }

    75% {
        transform: translateY(-15px);
    }
}

/*Loaders*/

/*Top Navigation Bar*/

#NavigationBarTop {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    display: flex;
    flex-direction: row;
    color: white;
    /*color: #8c8c8c;*/
    z-index: 6;
    background-color: rgba(255, 255, 255);
    border-bottom: 2px solid rgb(240, 240, 240);
    transition: top 0.3s ease;
}

.TopNavItem {
    font-family: Helvetica;
    color: rgb(70, 70, 70);
    font-size: 12px;
    cursor: pointer;
    transition: .1s;
}

.TopNavItem:hover {
    text-decoration: underline;
    transform: scale(1.02);
}

#Language {
    margin-left: 0%;
    margin-top: 17px;
}


#TopLogoutItem {
    position: relative;
    color: rgb(255, 66, 66);
    font-size: 12px;
    font-family: Helvetica;
    left: 3%;
    margin-top: 17px;
    display: block;
}


.TopNavSign {
    font-family: Helvetica;
    color: rgb(255, 66, 66);
    font-size: 12px;
    cursor: pointer;
    transition: .1s;
    text-decoration: underline;
}

.TopNavSign:hover {
    transform: scale(1.05);
}

#TopSignInItem {
    color: rgb(70, 70, 70);
    font-size: 12px;
    font-family: Helvetica;
    margin-left: 3%;
    margin-top: 17px;
}

#HelpContact {
    margin-left: 6%;
    margin-top: 17px;
}

#WatchList2 {

    position: fixed;
    right: 30px;
    height: 28px;
    width: 28px;
    top: 8px;
    opacity: .6;
    transition: .1s;
    transform: .1s;
    cursor: pointer;
}

#Account2 {

    position: fixed;
    right: 90px;
    top: 8px;
    height: 26px;
    width: 26px;
    opacity: .6;
    transition: .1s;
    transform: .1s;
    cursor: pointer;
}

#WatchList2:hover {
    opacity: 1;
    transform: scale(1.03);
}

#Account2:hover {
    opacity: 1;
    transform: scale(1.03);
}

#Account2:active {
    transform: scale(.95);
}

#WatchList2:active {
    transform: scale(.95);
}

.LanguageFlags {
    height: 24px;
    width: 24px;
    transform: scale(1);
}

#CanadaFlag {
    margin-top: 12px;
    margin-left: 55%;
}

#LanguageSwitch {
    position: fixed;
    width: 120px;
    height: 45px;
    background-color: rgb(255, 255, 255);
    z-index: 8;
    border: 2px solid rgb(240, 240, 240);
    margin-left: 72%;
    margin-top: 31px;
    display: none;
}

#FrenchLanguage {
    margin-left: 53px;
    margin-top: 14px;
}

#FrenchFlagImg {
    margin-left: 27px;
    margin-top: -31px;
}

/*Top Navigation Bar*/





/*Main Navigation Bar*/

#NavigationBarMain {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 44px;
    display: flex;
    flex-direction: row;
    color: white;
    /*color: #8c8c8c;*/
    z-index: 6;
    background-color: rgba(255, 255, 255, 1);
    transition: top 0.3s ease;
}

#NavTitle {
    font-family: Helvetica;
    color: rgb(70, 70, 70);
    font-size: 30px;
    font-weight: bold;
    font-variant: small-caps;
    margin-left: 3%;
    letter-spacing: 1px;
    cursor: pointer;
}

#NavTitleSecond {
    color: rgb(255, 66, 66);
}




#SearchBar {
    color: rgb(40, 40, 40);
    margin-top: 25px;
    font-family: Helvetica;
    font-size: 15px;
    width: 50%;
    height: 45px;
    padding: 10px;
    border-radius: 0px 10px 10px 0;
    background-color: rgb(250, 250, 250);
    border-right: 2px solid rgb(170, 170, 170);
    border-top: 2px solid rgb(170, 170, 170);
    border-bottom: 2px solid rgb(170, 170, 170);
    border-left: 0px solid rgb(170, 170, 170);
}

#SearchImageButton {
    margin-top: 25px;
    height: 45px;
    border-radius: 10px 0 0 10px;
    border-right: 0px solid rgb(170, 170, 170);
    border-left: 2px solid rgb(170, 170, 170);
    border-top: 2px solid rgb(170, 170, 170);
    border-bottom: 2px solid rgb(170, 170, 170);
    cursor: pointer;
    margin-left: 5%;
    background-color: rgb(250, 250, 250);
}

#SearchBar:focus {
    outline: none;
}

#SearchIcon {
    transform: scale(.7);
    margin-left: 5px;
}



#NavSearchButton {
    margin-left: 1%;
    background-color: rgb(255, 66, 66);
    height: 45px;
    margin-top: 25px;
    padding-left: 80px;
    padding-right: 80px;
    border: none;
    cursor: pointer;
    font-family: Helvetica;
    font-size: 15px;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    border-radius: 10px;
    transition: .1s;

}

#NavSearchButton:active {
    transition: .1s;
    transform: scale(0.97);
}

#NavSearchButton:hover {

    background-color: rgb(255, 48, 48);
}

/*Main Navigation Bar*/

/*Bottom Navigation Bar*/
#NavigationBarBottom {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 140px;
    display: flex;
    flex-direction: row;
    color: white;
    /*color: #8c8c8c;*/
    z-index: 6;
    background-color: rgba(255, 255, 255, 1);
    border-top: 2px solid rgb(240, 240, 240);
    justify-content: space-around;
    transition: top 0.3s ease;
}

.BottomNavItem {
    font-family: Helvetica;
    color: rgb(70, 70, 70);
    font-size: 12px;
    cursor: pointer;
    transition: .1s;
}

.BottomNavItem:hover {
    color: rgb(255, 66, 66);
    text-decoration: underline;
    transform: scale(1.05);
}


/*Bottom Navigation Bar*/



/*Account - Side Buttons*/

#Account_Container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Define the number of columns */
    grid-template-rows: repeat(1, 1fr);
    scroll-behavior: smooth;
    width: 1000px;
    height: 800px;
    background-color: rgb(141, 141, 141);
    left: 50%;
    transform: translate(-50%, 0%);
    top: 220px;

}

#Mobile_Menu_Container {
    display: none;
}

#Side_Buttons_Mobile {
    display: none;
}

#Side_Buttons {
    background-color: rgb(240, 240, 240);
    height: 800px;
    width: 250px;
    display: block;
}

.Side_Buttons_Style {
    display: block;
    font-family: Helvetica;
    color: rgb(50, 50, 50);
    font-size: 16px;
    cursor: pointer;
    transition: .1s;
    border: 0px solid black;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    margin-bottom: 40px;
    width: 200px;
    height: 50px;
    text-align: left;
    padding-left: 10px;

}


.Account_Tab_Container {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(220, 220, 220);
    height: 800px;
    width: 750px;


}

#Account_Img {
    transform: scale(.7);
    height: 26px;
    width: 26px;
    vertical-align: middle;
    filter: invert(100%);

}

#Watchlist_Img {
    transform: scale(.7);
    vertical-align: middle;
    height: 28px;
    width: 28px;

}

#NewsLetter_Img {
    transform: scale(.8);
    vertical-align: middle;
}

#Help_Img {
    transform: scale(.7);
    vertical-align: middle;

}

#Delete_Img {
    transform: scale(.7);
    vertical-align: middle;

}

#Account_Img_Mobile {
    transform: scale(.7);
    vertical-align: middle;
    filter: invert(100%);
    height: 26px;
    width: 26px;
}

#Watchlist_Img_Mobile {
    transform: scale(.7);
    vertical-align: middle;
    height: 28px;
    width: 28px;

}

#NewsLetter_Img_Mobile {
    transform: scale(.8);
    vertical-align: middle;
}

#Help_Img_Mobile {
    transform: scale(.7);
    vertical-align: middle;

}

#Delete_Img_Mobile {
    transform: scale(.7);
    vertical-align: middle;

}

#AccountDashBoard_Mobile {
    display: block;
}

#Manage_Acc_Top {
    position: relative;
    left: 40px;
    top: 20px;
}

#Manage_Acc_Top_Title {
    position: relative;
    left: 40px;
    top: 20px;
    font-size: 28px;
    font-family: Helvetica;
    color: rgb(70, 70, 70);
    font-weight: bold;
}

#Manage_Info {
    position: relative;
    left: 40px;
    top: 20px;
}

#Edit_AccountInfo {
    cursor: pointer;
    font-weight: bold;
}

#Manage_Acc_Title {
    position: relative;
    left: 40px;
    top: 20px;
}

#Personal {
    position: relative;
    left: 60px;
    top: 50px;
    border: 1px solid rgb(220, 220, 220);
    width: 250px;
    height: 150px;
    border-radius: 5px;
}

#History {
    position: relative;
    left: 400px;
    top: -102px;
    border: 1px solid rgb(220, 220, 220);
    width: 250px;
    height: 150px;
    border-radius: 5px;
}

.Account_Text_Style {
    font-family: Helvetica;
    color: rgb(130, 130, 130);
    font-size: 14px;
}

.Account_Title_Style_Med {
    font-family: Helvetica;
    color: rgb(70, 70, 70);
    font-size: 25px;
    font-weight: bold;
}

.Acc_Text {
    font-family: Helvetica;
    color: rgb(70, 70, 70);
    font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 20px;
}

#Personal_Title {
    font-family: Helvetica;
    color: rgb(130, 130, 130);
    font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 20px;
}

#Forgot_Password {
    position: relative;
    font-family: Helvetica;
    color: rgb(255, 255, 255);
    font-size: 16px;
    cursor: pointer;
    transition: .1s;
    border: 0px solid rgb(220, 220, 220);
    background-color: rgb(255, 66, 66);
    border-radius: 5px;
    width: 150px;
    height: 40px;
    left: 50%;
    transform: translate(-50%, 0%);

}

#Forgot_Password:hover {
    background-color: rgb(255, 48, 48);
}


#Actual_Email {
    color: rgb(130, 130, 130);
}

#Actual_Pass {
    color: rgb(130, 130, 130);
}

#Actual_Date {
    color: rgb(130, 130, 130);
}

#Actual_Comic_Watch {
    color: rgb(130, 130, 130);
}

#WatchList {
    display: none;
}

#NewsLetter {
    display: none;
}

#HelpAndContact {
    display: none;
}

#DeleteAccount {
    display: none;

}

#Blur_DeleteAccount {
    filter: blur(0px);

}

#AccountDashBoard_Button {
    background-color: rgb(255, 66, 66);
    color: rgb(240, 240, 240);

}


#AccountDash_Button_Mobile {
    color: white;
    background-color: rgb(255, 66, 66);
}



/*Account - Side Buttons*/



/*Watchlist*/
#WatchList_Title_Top {
    position: relative;
    left: 40px;
    top: 20px;
    font-family: Helvetica;
    color: rgb(130, 130, 130);
    font-size: 14px;
}


#WatchList_Main_Title_Top {
    position: relative;
    left: 40px;
    top: 20px;
    font-size: 28px;
    font-family: Helvetica;
    color: rgb(70, 70, 70);
    font-weight: bold;
}

#WatchList_Note {
    position: relative;
    left: 40px;
    top: 20px;
    font-family: Helvetica;
    color: rgb(130, 130, 130);
    font-size: 14px;
}


#WatchList_Secondary_Title {
    position: relative;
    left: 40px;
    top: 20px;
    font-family: Helvetica;
    color: rgb(70, 70, 70);
    font-size: 25px;
    font-weight: bold;
}

#Watclist_Info_Container {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 50px;
    border: 1px solid rgb(220, 220, 220);
    width: 250px;
    height: 150px;
    border-radius: 5px;
}

#Edit_Watchlist {
    position: relative;
    font-family: Helvetica;
    color: rgb(255, 255, 255);
    font-size: 16px;
    cursor: pointer;
    transition: .1s;
    border: 0px solid rgb(220, 220, 220);
    background-color: rgb(255, 66, 66);
    border-radius: 5px;
    width: 150px;
    height: 40px;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 100px;
}


#Edit_Watchlist:hover {
    background-color: rgb(255, 48, 48);
}

#Actual_Comics_Watchlisted {
    color: rgb(130, 130, 130);
}


/*Watchlist*/




/*NewsLetter*/
#Newsletter_Title_Top {
    position: relative;
    left: 40px;
    top: 20px;
    font-family: Helvetica;
    color: rgb(130, 130, 130);
    font-size: 14px;
}


#Newsletter_Main_Title_Top {
    position: relative;
    left: 40px;
    top: 20px;
    font-size: 28px;
    font-family: Helvetica;
    color: rgb(70, 70, 70);
    font-weight: bold;
}

#Newsletter_Note {
    position: relative;
    left: 40px;
    top: 20px;
    font-family: Helvetica;
    color: rgb(130, 130, 130);
    font-size: 14px;
}


#Newsletter_Secondary_Title {
    position: relative;
    left: 40px;
    top: 20px;
    font-family: Helvetica;
    color: rgb(70, 70, 70);
    font-size: 25px;
    font-weight: bold;
}

#Newsletter_Info_Container {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 50px;
    border: 1px solid rgb(220, 220, 220);
    width: 250px;
    height: 150px;
    border-radius: 5px;
}

#Edit_Newsletter_True {
    position: relative;
    font-family: Helvetica;
    color: rgb(255, 255, 255);
    font-size: 16px;
    cursor: pointer;
    transition: .1s;
    border: 0px solid rgb(220, 220, 220);
    background-color: rgb(255, 66, 66);
    border-radius: 5px;
    width: 150px;
    height: 40px;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 100px;
    display: none;
}


#Edit_Newsletter_True:hover {
    background-color: rgb(255, 48, 48);
}


#Edit_Newsletter_False {
    position: relative;
    font-family: Helvetica;
    color: rgb(255, 255, 255);
    font-size: 16px;
    cursor: pointer;
    transition: .1s;
    border: 0px solid rgb(220, 220, 220);
    background-color: rgb(255, 66, 66);
    border-radius: 5px;
    width: 150px;
    height: 40px;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 100px;
    display: none;
}


#Edit_Newsletter_False:hover {
    background-color: rgb(255, 48, 48);
}

#Date_Sub_Actual {
    color: rgb(130, 130, 130);
}

#News_Rec_Actual {
    color: rgb(130, 130, 130);
}



/*NewsLetter*/



/*Help and Contact*/
#HelpAndContact_Title_Top {
    position: relative;
    left: 40px;
    top: 20px;
    font-family: Helvetica;
    color: rgb(130, 130, 130);
    font-size: 14px;
}


#HelpAndContact_Main_Title_Top {
    position: relative;
    left: 40px;
    top: 20px;
    font-size: 28px;
    font-family: Helvetica;
    color: rgb(70, 70, 70);
    font-weight: bold;
}

#HelpAndContact_Note {
    position: relative;
    left: 40px;
    top: 20px;
    font-family: Helvetica;
    color: rgb(130, 130, 130);
    font-size: 14px;

}

#HelpAndContact_Secondary_Title {
    position: relative;
    left: 40px;
    top: 20px;
    font-family: Helvetica;
    color: rgb(70, 70, 70);
    font-size: 25px;
    font-weight: bold;
}


#HelpAndContact_Secondary_Title {
    position: relative;
    left: 40px;
    top: 20px;
    font-family: Helvetica;
    color: rgb(70, 70, 70);
    font-size: 25px;
    font-weight: bold;
}

#HelpAndContact_Info_Container {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 50px;
    border: 1px solid rgb(220, 220, 220);
    width: 250px;
    height: 150px;
    border-radius: 5px;
}

#Submit_HelpAndContact {
    position: relative;
    font-family: Helvetica;
    color: rgb(255, 255, 255);
    font-size: 16px;
    cursor: pointer;
    transition: .1s;
    border: 0px solid rgb(220, 220, 220);
    background-color: rgb(255, 66, 66);
    border-radius: 5px;
    width: 150px;
    height: 40px;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 150px;
}


#Submit_HelpAndContact:hover {
    background-color: rgb(255, 48, 48);
}



.Input_Feild_Style {
    position: relative;
    display: block;
    font-size: 14px;
    font-family: Helvetica;
    color: rgb(130, 130, 130);
    left: 50%;
    transform: translate(-50%, 0%);
    width: 50%;
    height: 30px;
    border: 2px solid rgb(130, 130, 130);
    margin-bottom: 10px;
    top: 100px;
    transition: .1s;
}

#Problem_Text {
    position: relative;
    resize: none;
    font-size: 14px;
    font-family: Helvetica;
    color: rgb(130, 130, 130);
    left: 50%;
    transform: translate(-50%, 0%);
    width: 50%;
    height: 100px;
    border: 2px solid rgb(130, 130, 130);
    top: 100px;
    transition: .1s;
}

.Input_Feild_Style:focus {
    border: 2px solid rgb(255, 66, 66);
    outline: none;
}

#Problem_Text:focus {
    border: 2px solid rgb(255, 66, 66);
    outline: none;
}

/*Help and Contact*/


/*Delete Account*/
#DeleteAccount_Title_Top {
    position: relative;
    left: 40px;
    top: 20px;
    font-family: Helvetica;
    color: rgb(130, 130, 130);
    font-size: 14px;
}


#DeleteAccount_Main_Title_Top {
    position: relative;
    left: 40px;
    top: 20px;
    font-size: 28px;
    font-family: Helvetica;
    color: rgb(70, 70, 70);
    font-weight: bold;
}

#DeleteAccount_Note {
    position: relative;
    left: 40px;
    top: 20px;
    font-family: Helvetica;
    color: rgb(130, 130, 130);
    font-size: 14px;

}


#DeleteAccount_Secondary_Title {
    position: relative;
    left: 40px;
    top: 20px;
    font-family: Helvetica;
    color: rgb(70, 70, 70);
    font-size: 25px;
    font-weight: bold;
}

#DeleteAccount_Info_Container {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 50px;
    border: 1px solid rgb(220, 220, 220);
    width: 250px;
    height: 150px;
    border-radius: 5px;
}

#Delete_DeleteAccount {
    position: relative;
    font-family: Helvetica;
    color: rgb(255, 255, 255);
    font-size: 16px;
    cursor: pointer;
    transition: .1s;
    border: 0px solid rgb(220, 220, 220);
    background-color: rgb(255, 66, 66);
    border-radius: 5px;
    width: 150px;
    height: 40px;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 150px;
}


#Delete_DeleteAccount:hover {
    background-color: rgb(255, 48, 48);
}

#Confirm_Delete {
    position: relative;
    width: 250px;
    height: 150px;
    background-color: white;
    left: 50%;
    transform: translate(-50%, 0%);
    border: 1px solid rgb(200, 200, 200);
    top: 20px;
    border-radius: 5px;
    display: none;
    box-shadow: 7px 7px 10px #888888;
}

#Confrim_Text {
    position: relative;
    font-family: Helvetica;
    color: rgb(70, 70, 70);
    font-size: 16px;
    font-weight: bold;
    text-align: center;

}

#Delete_Text_Note {
    position: relative;
    font-family: Helvetica;
    color: rgb(130, 130, 130);
    font-size: 12px;
    top: 0px;
    left: 5px;
    text-align: center;
}

#delete_buttons_container {
    position: relative;
    top: 20px;
    width: 100%;
    text-align: center;
}

#Delete_Button_Actual {
    border: 0px solid rgb(255, 66, 6);
    color: white;
    background-color: rgb(255, 66, 66);
    cursor: pointer;
    margin-left: 5px;
}

#Cancel_Button_Actual {
    border: 1px solid rgb(255, 66, 6);
    background-color: white;
    color: rgb(255, 66, 66);
    cursor: pointer;
    margin-right: 5px;
}

.Delete_Buttons {
    position: relative;
    width: 80px;
    height: 30px;
    font-size: 14px;
    font-family: helvetica;
    border-radius: 2px;
    transition: .1s ease;
}

.Delete_Buttons:active {
    transform: scale(.95);
}

/*Delete Account*/


/*Footer*/

#BottomContainer {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    border-top: 1px solid rgb(180, 180, 180);
    top: 1100px;

}

.FooterContainers {
    margin-top: 12%;
    margin-left: 33%;
}

.FooterHeaders {
    font-family: Helvetica;
    font-size: 17px;
    font-weight: bold;
    color: rgb(90, 90, 90);
}

.FooterItem {
    font-family: Helvetica;
    font-size: 12px;
    color: rgb(90, 90, 90);
    cursor: pointer;
    transition: .1s;
}

.FooterItem:hover {
    text-decoration: underline;
}

#RightsContainer {
    position: relative;
    top: 1200px;

    margin-left: 5%;
    padding-bottom: 5%;
}

#RightsItem {
    font-family: Helvetica;
    font-size: 12px;
    color: rgb(40, 40, 40);
    transition: .1s;
}


/*Footer*/
@media (max-width: 1000px) {
    #Account_Container {
        position: relative;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        /* Define the number of columns */
        grid-template-rows: repeat(1, 1fr);
        scroll-behavior: smooth;
        width: 90%;
        height: 600px;
        top: 250px;
    }

    #Side_Buttons {
        display: none;
    }

    .Account_Tab_Container {
        border: 1px solid rgb(220, 220, 220);
        background-color: rgb(255, 255, 255);
        height: 700px;
        width: 100%;
    }



    #Side_Buttons_Mobile {
        display: block;
        position: absolute;
        z-index: 5;
        top: 250px;
        left: -200px;
        /*-150px*/
        background-color: rgb(255, 255, 255);
        height: 700px;
        width: 180px;
        border: 1px solid rgb(220, 220, 220)
    }

    #Mobile_Menu_Container {
        display: block;
        position: absolute;
        top: 200px;
        margin-left: 5%;
    }

    #Mobile_Menu_Img {
        filter: invert(50%);
        transform: scale(.7);
        cursor: pointer;
        transition: .1s ease;
    }

    #Mobile_Menu_Img:active {
        transform: scale(.65);
    }

    .Side_Buttons_Style_Mobile {
        display: block;
        font-family: Helvetica;
        color: rgb(50, 50, 50);
        font-size: 12px;
        cursor: pointer;
        transition: .1s;
        border: 0px solid black;
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
        margin-bottom: 40px;
        margin-left: 13px;
        width: 150px;
        height: 30px;
        text-align: left;
        padding-left: 5px;
        margin-top: 30px;
    }



    #Close_Img_Mobile {
        transform: scale(.5);
        filter: invert(50%);
        margin-top: 5px;
        margin-left: 150px;
        cursor: pointer;
        transition: .1s ease;
    }

    #Close_Img_Mobile:active {
        transform: scale(.45);
    }


    #Manage_Acc_Top {
        left: 5%;
    }

    #Manage_Acc_Top_Title {
        left: 5%;
    }

    #Manage_Info {
        left: 5%;
    }

    #Manage_Acc_Title {
        left: 5%;
    }

    #Personal {
        left: 50%;
        transform: translate(-50%, 0%);
    }

    #History {
        top: 80px;
        left: 50%;
        transform: translate(-50%, 0%);
    }

    #Forgot_Password {
        position: relative;
        left: 50%;
        transform: translate(-50%, 0%);
        top: 120px;
    }

    #WatchList_Title_Top {

        left: 5%;
        top: 20px;

    }


    #Newsletter_Main_Title_Top {

        left: 5%;
        top: 20px;

    }

    #Newsletter_Note {

        left: 5%;
        top: 20px;

    }


    #Newsletter_Secondary_Title {

        left: 5%;
        top: 20px;

    }

    #Newsletter_Title_Top {

        left: 5%;
        top: 20px;

    }


    #Newsletter_Main_Title_Top {

        left: 5%;
        top: 20px;

    }

    #Newsletter_Note {

        left: 5%;
        top: 20px;

    }


    #Newsletter_Secondary_Title {

        left: 5%;
        top: 20px;

    }




    #HelpAndContact_Title_Top {

        left: 5%;
        top: 20px;

    }


    #HelpAndContact_Main_Title_Top {

        left: 5%;
        top: 20px;

    }

    #HelpAndContact_Note {

        left: 5%;
        top: 20px;
        width: 90%;
    }


    #HelpAndContact_Secondary_Title {

        left: 5%;
        top: 20px;

    }

    .Input_Feild_Style {

        width: 70%;

    }

    #Problem_Text {
        width: 70%;

    }




    #WatchList_Main_Title_Top {

        left: 5%;
        top: 20px;

    }

    #WatchList_Note {

        left: 5%;
        top: 20px;

    }


    #DeleteAccount_Secondary_Title {

        left: 5%;
        top: 20px;

    }

    #DeleteAccount_Secondary_Title {

        left: 5%;
        top: 20px;

    }

    #DeleteAccount_Title_Top {

        left: 5%;
        top: 20px;

    }


    #DeleteAccount_Main_Title_Top {

        left: 5%;
        top: 20px;

    }

    #DeleteAccount_Note {

        left: 5%;
        top: 20px;
        width: 90%;
    }


    #DeleteAccount_Secondary_Title {

        left: 5%;
        top: 20px;

    }


}



@media (max-width: 1100px) {



    #HelpContact {
        white-space: nowrap;
    }

    #TopSignInItem {
        white-space: nowrap;
    }

    #NavTitle {
        white-space: nowrap;
    }

    #SearchBar {
        color: rgb(40, 40, 40);
        margin-top: 25px;
        font-family: Helvetica;
        font-size: 15px;
        width: 40%;
        height: 45px;
        padding: 10px;
    }

    #SearchImageButton {
        margin-top: 25px;
        height: 45px;
        margin-left: 10%;

    }


    #NavSearchButton {
        margin-left: 1%;
        background-color: rgb(255, 66, 66);
        height: 45px;
        margin-top: 25px;
        padding-left: 60px;
        padding-right: 60px;
        border: none;
        cursor: pointer;
        font-family: Helvetica;
        font-size: 15px;
        color: rgb(255, 255, 255);
        letter-spacing: 1px;
        border-radius: 10px;
        transition: .1s;

    }
}

@media (max-width: 900px) {


    #NavigationBarMain {
        padding-bottom: 20px;

    }

    #NavTitle {
        font-size: 22px;
        margin-top: 35px;
    }

    #Bottom4 {
        display: none;
    }

    #Bottom5 {
        display: none;
    }

    #Bottom6 {
        display: none;
    }

    #NavSearchButton {
        margin-left: 1%;
        background-color: rgb(255, 66, 66);
        height: 40px;
        margin-top: 30px;
        padding-left: 15px;
        padding-right: 15px;
        border: none;
        cursor: pointer;
        font-family: Helvetica;
        font-size: 13px;
        color: rgb(255, 255, 255);
        letter-spacing: 1px;
        border-radius: 10px;
        transition: .1s;

    }

    #SearchImageButton {
        margin-top: 30px;
        height: 40px;
        margin-left: 8%;

    }

    #SearchBar {
        color: rgb(40, 40, 40);
        margin-top: 30px;
        font-family: Helvetica;
        font-size: 15px;
        width: 40%;
        height: 40px;
        padding: 10px;
    }


}

@media (max-width: 650px) {


    #NavSearchButton {
        display: none;

    }

    #SearchImageButton {
        margin-top: 30px;
        height: 40px;
        margin-left: 3%;

    }

    #SearchBar {
        color: rgb(40, 40, 40);
        margin-top: 30px;
        font-family: Helvetica;
        font-size: 15px;
        width: 45%;
        height: 40px;
        padding: 10px;
    }
}